# APOS property files
*.properties

# Compiled class file
build/

# Cached content files
Content/*

# Log file
*.log

lib/third-party/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*